<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1794381705838564"
     crossorigin="anonymous"></script>
<!-- Respondsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1794381705838564"
     data-ad-slot="5202041315"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div>
  <a class="hover-opacity font-weight-bold" href="https://mycollection.shop/tokobeberkah">
    <img src="{{site.baseurl}}/assets/images/myshop.jpg" alt="iklan" width="320" height="240">
  </a>
</div>